<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsKJfdgI5M8DYYch0-6Alf56S2PeiYe5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>771149906080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audioMusicPlayer</string>
	<key>PROJECT_ID</key>
	<string>audio-app-bd660</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-app-bd660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771149906080:ios:437567e6c5b211b3ef09c5</string>
</dict>
</plist>